
Spellendoos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Spellendoos/obj/Debug/Spellendoos_MarkupCompile.i.cache
Spellendoos/obj/Debug/Spellendoos_MarkupCompile.i.lref
Spellendoos/obj/Debug/Spellendoos_MarkupCompile.i.cache
Spellendoos/obj/Debug/Spellendoos_MarkupCompile.i.cache
Spellendoos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
