
Spellendoos/obj/Debug/Spellendoos_MarkupCompile.lref
Spellendoos/obj/Debug/Spellendoos.csprojAssemblyReference.cache
Spellendoos/obj/Debug/MainWindow.g.cs
Spellendoos/obj/Debug/App.g.cs
Spellendoos/obj/Debug/Spellendoos.csprojAssemblyReference.cache
Spellendoos/obj/Debug/Spellendoos.csprojAssemblyReference.cache
*.cache
Spellendoos/obj/Debug/Spellendoos.csprojAssemblyReference.cache
*.cache
